# Dépendances / builds
node_modules/
dist/
.astro/
.vercel/
.netlify/

# Caches & logs
.cache/
coverage/
.eslintcache
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Éditeurs/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env & secrets (NE JAMAIS COMMIT)
.env
.env.*
